<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheResultFile=".phpunit.cache/test-results"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
	convertDeprecationsToExceptions="false">

	<testsuites>
		<!-- Pure PHP. No WordPress, no database, no Docker. -->
		<testsuite name="unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
		<!-- Needs the WordPress test library; run through wp-env. -->
		<testsuite name="integration">
			<directory suffix="Test.php">tests/integration</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">plugin/mind-maps/src</directory>
		</include>
	</coverage>

	<php>
		<ini name="display_errors" value="1"/>
		<ini name="error_reporting" value="-1"/>
	</php>
</phpunit>
